<div class="container" id="circulo"><img id="img" src="assets/usr.png"></div>
<div class="container"  style="position: relative">
  <div class="jumbotron" id="card">
    <div class="col-md-12">
      <form [formGroup]="loginFrm" (ngSubmit)="login(loginFrm.value)">
        <div class="form-group">
          <label for="emailInp">Correo Electrónico</label>
          <input id="emailInp" formControlName="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="pwdInp">Contraseña </label>
          <input id="pwdInp" formControlName="pwd" class="form-control" placeholder="Password" type="password">
        </div>
        <button id="button" class="btn btn-block btn-success" type="submit">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>


