#card {
  width: 45%;
  background: #A2C4DD;
  margin: 5%;
  margin-left: 25%;
}

#button{
  align-content: center;
}

#circulo{
  position: absolute;
  margin-right: 45%;
  width: 150px;
  height: 150px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #5cb85c;
  flex: auto;
}
