<div class="row" *ngIf="authError">
  <div class="col-12 alert alert-danger">
    {{ authError?.message }}
  </div>
</div>

<form class="create-form" [formGroup]="usrForm" (ngSubmit)="onSubmit(usrForm.value)">
  <div class="form-group">
    <label for="nameInp">Nombre</label>
    <input id="nameInp" formControlName="name" class="form-control" placeholder="Nombre completo">
  </div>
  <div class="form-group">
    <label for="emailInp">Email</label>
    <input id="emailInp" formControlName="email" class="form-control" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="pwdInp">Password</label>
    <input id="pwdInp" formControlName="pwd" class="form-control" placeholder="Password" type="password">
  </div>
  <div class="form-group">
    <label for="rolSlc">Rol</label>
      <select id="rolSlc" class="form-control" formControlName="role">
        <option *ngFor="let rol of roles" [value]="rol.val">{{ rol.display }}</option>
      </select>
  </div>

  <button class="btn btn-lg btn-primary" type="submit">Guardar</button>
</form>

