<div class="jumbotron">
  <h1 class="display-4"> Registro de pacientes </h1>
  <mat-expansion-panel>
    <mat-expansion-panel-header style="color: #2F96B4">
      <mat-panel-title>
        Registro Básico
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-add-patient></app-add-patient>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lista de pacientes
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-patient-list></app-patient-list>
  </mat-expansion-panel>
</div>

