<div class="jumbotron">
  <h1 class="display-4"> Registro de pacientes </h1>
<ngb-accordion>
  <ngb-panel title="Registro básico" >
    <ng-template ngbPanelContent style="color: #2F96B4">
      <app-add-patient></app-add-patient>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
<ngb-accordion>
  <ngb-panel title="Registro completo" >
    <ng-template ngbPanelContent style="color: #2F96B4">
      <app-info-patient></app-info-patient>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
  <ngb-accordion>
    <ngb-panel title="Lista" >
      <ng-template ngbPanelContent style="color: #2F96B4">
        <app-patient-list></app-patient-list>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>

